<h1 class="text-center">Edit task</h1>

<%= render "form", task: @task %>

<hr>
<div class="bottom">
  <div class="box-link">
    <%= link_to(task_path(@task)) do %>
      <i class="fa-solid fa-backward-step"></i> Back to task
    <% end %>
  </div>

  <div class="box-link">
    <%= link_to(tasks_path) do %>
      <i class="fa-solid fa-rotate-left"></i> Back to list
    <% end %>
  </div>
</div>
