@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  width: 500px;
  margin: 30px auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 8px;
}

h1, h2 {
  font-weight: bold;
  margin: 0;
}

form {
  margin: 20px auto 30px auto;
}

input[type="submit"] {
  display: block;
  margin: 30px auto;
  padding: 5px 10px;
}

.text-center {
  text-align: center;
}

.container-list {
  width: 400px;
  margin: 30px auto 22px auto;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkmark {
  margin-right: 5px;
}

.box-link {
  text-align: center;
}

.alert {
  margin: 15px auto;
}

.button-edit {
  background-color: #F5F5F5;
  padding: 8px 15px;
  border-radius: 4px;
  border: 0.5px solid #CEE2FF;
  font-size: smaller;
  color: #444444;
  transition: 0.2s;
}
.button-edit:hover {
  background-color: #CEE2FF;
  color: #444444;
}

.fa-trash-can {
  color: #535E94;
}

#completion {
  padding-left: 10px;
}
