@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  width: 500px;
  margin: 30px auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 8px;
}

h1 {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.container-list {
  width: 400px;
  margin: 30px auto 22px auto;
}

.checkmark {
  margin-right: 5px;
}

.box-link {
  text-align: center;
}

.fa-trash-can {
  color: #535E94;
}
